<h2>Agregar Registro</h2>
<form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
  <!-- Campo para Categoría -->
  <mat-form-field appearance="fill">
    <mat-label>Categoría</mat-label>
    <input matInput type="number" formControlName="categoria_id" required>
  </mat-form-field>

  <!-- Campo para Monto -->
  <mat-form-field appearance="fill">
    <mat-label>Monto</mat-label>
    <input matInput type="number" formControlName="monto_max" required>
  </mat-form-field>

  <!-- Campo para Fecha de Inicio -->
  <mat-form-field appearance="fill">
    <mat-label>Fecha de Inicio</mat-label>
    <input matInput type="date" formControlName="fecha_inicio" required>
  </mat-form-field>

  <!-- Campo para Fecha de Fin -->
  <mat-form-field appearance="fill">
    <mat-label>Fecha de Fin</mat-label>
    <input matInput type="date" formControlName="fecha_fin" required>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onClose()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </div>
</form>
