<div class="dashboard-container">
  <mat-card class="balance-card">
    <h2>Saldo Actual</h2>
    <p class="balance">{{ balance.saldo| currency:'USD' }}</p>
  </mat-card>

  <mat-card>
    <h3>Resumen Mensual</h3>
    <p>Ingresos: {{ monthlySummary.ingresos | currency:'USD' }}</p>
    <p>Gastos: {{ monthlySummary.gastos | currency:'USD' }}</p>
    <p>Balance: {{ monthlySummary.balance | currency:'USD' }}</p>
  </mat-card>

  <mat-card>
    <h3>Gastos por Categoría</h3>
    <canvas baseChart 
      [data]="categoryExpensesData"
      [type]="'pie'"
      [options]="chartOptions">
    </canvas>
  </mat-card>

  <mat-card>
    <h3>Ingresos y Gastos a lo Largo del Tiempo</h3>
    <canvas baseChart 
      [data]="incomeExpenseOverTimeData"
      [type]="'line'"
      [options]="chartOptions">
    </canvas>
  </mat-card>
</div>
