
:host {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h2 {
  color: #000; /* Cambia el color de la letra a negro */
  text-align: center;
  width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
  margin: 0 0 5px 0; /* Espacio inferior para separar el título del formulario */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los campos dentro del formulario */
  width: 100%;
  max-width: 400px; /* Define un ancho máximo para el formulario */
  padding: 24px;
  box-sizing: border-box;
}

mat-form-field {
  width: 100%; /* Cada campo ocupa el ancho completo */
  margin-bottom: 16px; /* Espacio entre los campos */
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between; /* Separa los botones */
  width: 100%;
}

.custom-dialog-container{
  margin-top: 24px;
}

