<div class="demo-button-container">
    <button mat-raised-button (click)="openForm()" class="demo-button">
      Agregar ingreso
    </button>
  </div>
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Mia" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table class="custom-table" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.ingreso_id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Monto</th>
        <td mat-cell *matCellDef="let element" (dblclick)="onDoubleClick(element)"> {{element.monto}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
      </ng-container>
  
      <ng-container matColumnDef="fuente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fuente </th>
        <td mat-cell *matCellDef="let element"> {{element.fuente}} </td>
      </ng-container>

      <ng-container matColumnDef="esFijo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Es fijo </th>
        <td mat-cell *matCellDef="let element"> {{element.es_fijo}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>