
<h2>Agregar Registro</h2>
<form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
  <!-- Campo para Categoría -->
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" formControlName="nombre" required>
  </mat-form-field>

  <!-- Campo para Monto -->
  <mat-form-field appearance="fill">
    <mat-label>Monto Total</mat-label>
    <input matInput type="number" formControlName="monto_total" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Monto Pagado</mat-label>
    <input matInput type="number" formControlName="monto_pagado" required>
  </mat-form-field>

  <!-- Campo para Fecha de Vencimiento -->
  <mat-form-field appearance="fill">
    <mat-label>Fecha vencimiento</mat-label>
    <input matInput type="date" formControlName="fecha_vencimiento" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Recordar</mat-label>
    <input matInput type="text" formControlName="recordatorio" required>
  </mat-form-field>



  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onClose()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </div>
</form>
